.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 800;
  color: #2b2b2b;
  margin: 3rem 0rem 1.5rem 0rem;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 1.75rem;
}

.h3 {
  font-size: 1.5rem;
}

.p {
  font-size: 1rem;
  text-align: left;
  color: #3b3b3b;
}
