.navbar {
  background-color: #f6de1e;
  box-shadow: 0 0 1.125rem #322f2f;
  margin-bottom: 2.25rem;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  padding: 0.75rem 1.125rem 0.75rem 1.125rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover,
.selected {
  background-color: #ffffff;
}
